@page
@model RazorStudy.Pages.StudentsList.EditModel
@{
}
<section class="vh-100 bg-image"
  style="   background: linear-gradient(to bottom, #a8c0ff, #3f2b96);">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Luckiest+Guy&family=Lusitana&family=Rubik+Puddles&display=swap" rel="stylesheet">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5" style="font-family: 'Rubik Puddles', cursive; font-size:50px; color:#4A0078;" >Add Student</h2>

              <form method="post">

               
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" asp-for="objStudent.StudentName" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg" style="font-family: 'Lobster Two', cursive;">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example3cg" asp-for="objStudent.Marks" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg" style="font-family: 'Lobster Two', cursive;">Your Marks</label>
                </div>

                 <div class="col-md-6 mb-4">
                     
                
                  @*<h6 class="mb-2 pb-1" style="font-family: 'Lobster Two', cursive;">Gender: </h6>
                  <center>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                      value="option1" checked />
                    <label class="form-check-label" for="femaleGender"style="font-family: 'Lobster Two', cursive;">Female</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                      value="option2" />
                    <label class="form-check-label" for="maleGender" style="font-family: 'Lobster Two', cursive;">Male</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                      value="option3" />
                    <label class="form-check-label" for="otherGender" style="font-family: 'Lobster Two', cursive;">Other</label>
                  </div>
                  </center>*@
                </div>
              

                

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-outline-success">Save Record</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>